*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.Mybg{
    height: 100vh;
}
.br{
    background-image: linear-gradient(7deg, rgba(0,36,22,1) 7%, rgba(0,212,255,1) 69%, rgba(86,182,19,1) 100%);
    
    #img2{
        left: 8%;
        top: 6%;
    }
    h1{
        bottom: 20%;
        left: 8%;
        max-width:400px;
        font-size: 30px;
        font-family: sans-serif;
        color:rgb(3, 45, 71);
    }
    
    
}.right{
    i{
        top: 25%;
        left: 3%;
        font-size: 20px;
    }
    #i2{
        top: 4%;
        left: 3%;
        font-size: 20px;
    }
    #i3{
        top: 4%;
        left: 86%;
        
    }
    #hr2{
        right: 0%;
        bottom: -10%;
    }
}


